.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 10px;

  .tag {
    background-color: #303045;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 13px;
    color: #ccc;
    border: 1px solid #444;
  }
}